.episode {
    border: 1px solid #547b99;
    margin: 30px;
    padding: 5px 20px 15px;
    width: 300px;
}

.episode .title {
    color: #547b99;
    font-size: 18px;
    font-weight: 600;
}

.episode .description {
    font-size: 12px;
    line-height: 1.3;
    padding: 5px 10px;
}

.episode .date {
    font-size: 10px;
}